<section class="section about">
  <h2 class="title">O firmie</h2>

  <div class="content">
    <div>
      <img src="./images/img-about-section.jpg" alt="" />
    </div>

    <p>Firma Taxibeton rozpoczęła działalność w 2008r.</p>
    <p>Dysponujemy pompami do betonu różnej długości.</p>

    <p>
      <span class="about-partners"
        >Nie jesteśmy producentami betonu, współpracujemy z największymi firmami w branży:</span
      >
      <span
        >Dyckerhoff, Budokrusz S.A., Cemex Polska, Bosta Beton, Mosty Łódź, Nast-Bud, General Beton,
        Górażdże Beton.</span
      >
    </p>
    <p>Świadczymy usługi na terenie całego kraju.</p>
  </div>
</section>
