<section class="section contact">
  <div class="container">
    <h2 class="title">Kontakt</h2>
    <address class="address">
      ul. 3-go maja 64/66
      <br />
      93-408 Łódź
      <br />
      e-mail: biuro@taxibeton.pl
      <br />
      tel. +48 668 280 380
      <br />
      NIP 7292396295
      <br />
      REGON: 100480340
    </address>

    <p class="descr">Pompowanie betonu - wynajem pompy do betonu</p>
    <input type="text" />
    <input type="text" />
    <input type="text" />
    <br />
    <textarea name="" id="" cols="30" rows="10"></textarea>
    <br />
    <checkbox>I am not a robot</checkbox>
    <button class="btn">Wyslij</button>
  </div>
</section>
