<header>
  <a href="/" class="logo link">
    <div class="logo-first-phrase">
      <span class="logo-first-phrase__first-word">Taxi</span
      ><span class="logo-first-phrase__second-word">beton</span>
    </div>
    <span class="logo-second-phrase">Pompowanie betonu</span>
  </a>

  <div class="header-contacts">
    <a href="" class="link header-contacts__email">office@t-b.com</a>
    <a href="" class="link header-contacts__tel">575 575 575</a>
  </div>

  <nav>
    <ul class="nav-list">
      <li><a href="" class="link">Glówna</a></li>
      <li><a href="" class="link">O firmie</a></li>
      <li><a href="" class="link">Oferta</a></li>
      <li><a href="" class="link">Nasze realizacje</a></li>
      <li><a href="" class="link">Kontakt</a></li>
    </ul>
  </nav>
</header>
