<section class="section">
  <h2 class="title">Oferta</h2>

  <ul>
    <li>
      <h3>Pompy do betonu</h3>
      <p>
        Dysponujemy pompami do betonu o długości wysięgu: 28 mb. 31 mb. 34 mb. 48 mb. 48. mb. 52 mb.
        56 mb. Wysięgi przedłużamy dodatkowymi przewodami stalowymi lib gumowymi.
      </p>
    </li>
    <li>
      <h3>Pompa halowa</h3>
      <p>
        Posiadamy w ofercie pompe halową rozkładającą się w pomieszczeniach.
        <span>Obsługujemy wiertnice (polowanie)</span>
      </p>
    </li>
    <li>
      <h3>Betony specjalne</h3>
      <p>Pompujemy również betony specjalne, t.j.: bazalt, granit i zbrojenie rozproszone.</p>
    </li>
  </ul>
</section>
