<section class="offer section">
  <h2 class="title">Oferta</h2>

  <ul class="list">
    <li>
      <h3 class="list-title">Pompy do betonu</h3>
      <p class="text">
        <span>
          <span>Dysponujemy pompami do betonu o długości wysięgu:</span>
          <span class="text--bold">28 mb. 31 mb. 34 mb. 48 mb. 48. mb. 52 mb. 56 mb. </span>
        </span>

        <span class="text--bold text--margin"
          >Wysięgi przedłużamy dodatkowymi przewodami stalowymi lib gumowymi.
        </span>
      </p>
    </li>

    <li>
      <h3 class="list-title">Pompa halowa</h3>
      <p class="text">
        Posiadamy w ofercie pompe halową rozkładającą się w pomieszczeniach.
        <span class="text--margin">Obsługujemy wiertnice (polowanie)</span>
      </p>
    </li>

    <li>
      <h3 class="list-title">Betony specjalne</h3>
      <p class="text">
        Pompujemy również betony specjalne, t.j.: bazalt, granit i zbrojenie rozproszone.
      </p>
    </li>
  </ul>
</section>
