<section>
  <h2 class="title">Oferta</h2>

  <ul>
    <li>
      <h3>Pompy do betonu</h3>
      <p>
        Dysponujemy pompami do betonu o długości wysięgu: 28 mb. 31 mb. 34 mb.
        48 mb. 48. mb. 52 mb. 56 mb. Wysięgi przedłużamy dodatkowymi przewodami
        stalowymi lib gumowymi.
      </p>
    </li>
    <li>
      <h3>Pompa halowa</h3>
      <p>
        Posiadamy w ofercie pompe halową rozkładającą się w pomieszczeniach.
        <span>Obsługujemy wiertnice (polowanie)</span>
      </p>
    </li>
    <li>
      <h3>Betony specjalne</h3>
      <p>
        Pompujemy również betony specjalne, t.j.: bazalt, granit i zbrojenie
        rozproszone.
      </p>
    </li>
  </ul>

  <h2>Wynajem pompy do betonu</h2>

  <p>
    <span>
      W standardowej ofercie na wynajem pomp do betonu w naszej firmie, znajdą
      Państwo konstrukcie umożliwiające transport tego surowca na odległość od
      28 mb do aż 56 mb. Nic nie stoi jednak na przeszkodzie, aby nasza usługa
      obejmująca pompowanie betonu osiągnęła większy zasięg – na miarę potrzeb i
      wymagań klienta. W tym celu możemy zaoferować możliwość przedłużenia
      wysięgów o dodatkowe elementy gumowe lub stalowe. Tak skonstruowane i
      przygotowane pompy do betonu mogą między innymi podawać mieszankę na duże
      wysokości oraz w trudno dostępne obszary.
    </span>
    <br />
    <br />
    <span>
      Od niemal dekady świadczymy nasze usługi wynajmu pomp do betonu na terenie
      całej Polski. Pozwoliło nam to na zdobycie odpowiedniego doświadczenia i
      rozwinięcia specjalistycznych kwalifikacji w tej branży, a także na
      nawiązanie wielu lukratywnych kontaktów, w tym z wiodącymi markami
      mieszanki betonowej. Nasze pompy do betonu można wykorzystać do transportu
      materiału zarówno o standardowych właściwościach, jak i specjalnych
      odmian, jak np. bazalt czy granit. Zamawiając u nas pompowanie betonu,
      otrzymują więc Państwo nie tylko potrzebny sprzęt, ale i profesjonalnego
      operatora maszyny, który szybko i sprawnie wykona każde zlecenie.
    </span>
    <br />
    <br />
    <span>
      Od niemal dekady świadczymy nasze usługi wynajmu pomp do betonu na terenie
      całej Polski. Pozwoliło nam to na zdobycie odpowiedniego doświadczenia i
      rozwinięcia specjalistycznych kwalifikacji w tej branży, a także na
      nawiązanie wielu lukratywnych kontaktów, w tym z wiodącymi markami
      mieszanki betonowej. Nasze pompy do betonu można wykorzystać do transportu
      materiału zarówno o standardowych właściwościach, jak i specjalnych
      odmian, jak np. bazalt czy granit. Zamawiając u nas pompowanie betonu,
      otrzymują więc Państwo nie tylko potrzebny sprzęt, ale i profesjonalnego
      operatora maszyny, który szybko i sprawnie wykona każde zlecenie.
    </span>
    <br />
    <br />
    <span>
      Z nami wynajem pompy do betonu to minimum formalności, szybki czas
      realizacji oraz pewność, że Państwa zleceniem zajmuje się uczciwa firma,
      doskonale rozumiejąca potrzeby swoich klientów. Warto przekonać się, że
      można lepiej – my możemy to obiecać!
    </span>
  </p>
</section>
