// first phrase - TAXIBETON
.logo-first-phrase {
  font-size: 48px;
}

.logo-first-phrase__first-word {
  color: var(--color-main);
}

.logo-first-phrase__second-word {
  color: var(--color-accent);
}

// second phrase - POMPOWANIE BETONU
.logo-second-phrase {
  color: #2a2a2a;
}
