.logo {
  padding-top: 20px;
  padding-bottom: 20px;
  display: block;
}

// first phrase - TAXIBETON
.logo-first-phrase {
  text-transform: uppercase;

  font-size: 58px;
  font-weight: 700;

  line-height: 0.9;
}

.logo-first-phrase__first-word {
  color: var(--color-main);
}

.logo-first-phrase__second-word {
  color: var(--color-accent);
}

// second phrase - POMPOWANIE BETONU
.logo-second-phrase {
  display: block;
  color: #747272;

  text-transform: uppercase;
  font-weight: 700;

  font-size: 16px;
  line-height: 0.9;
}
