.section.contact {
  padding-top: 60px;
  padding-bottom: 50px;
}

.contact {
  background-color: rgba(0, 0, 0, 0.8);
  color: var(--color-secondary);
}

.address {
  font-style: normal;
}

.contact .descr {
  margin-top: 10px;
  margin-bottom: 0;
}
