header {
  background-color: var(--header-bg);
}

.header .container {
  display: flex;
  justify-content: space-between;
}

.header__address-nav {
  outline: 3px solid orange;
}

.header-contacts {
  text-align: right;
  margin-right: 12px;
  margin-bottom: 10px;
}

// =============== nav-list =====================
.nav-list {
  display: flex;
}
.nav-list .link {
  padding: 6px 12px;
  border-radius: 4px;

  color: var(--color-main);

  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  text-transform: uppercase;
}

.nav-list .link:hover,
.nav-list .link:focus {
  color: var(--color-secondary);
  background-color: var(--button-main-color);
}

.nav-list {
  list-style: none;
}

// ============= email & phone =============
.header-contacts .link {
  color: inherit;
  text-transform: uppercase;

  font-weight: 700;
  font-size: 15px;
  line-height: 1.87x;
}

.header-contacts .link:hover,
.header-contacts .link:focus {
  opacity: 0.6;
}

.header-contacts__tel {
  display: inline-block;
  padding-top: 20px;
  margin-left: 10px;
}

.header-contacts__email {
  padding-top: 20px;
}
