header {
  background-color: var(--header-bg);
}

.nav-list .link {
  color: var(--color-main);

  font-weight: 400;

  font-size: 16px;
  line-height: 1.25;
}

.nav-list .link:hover,
.nav-list .link:focus {
  color: var(--color-secondary);
  background-color: var(--button-main-color);
}

.nav-list {
  list-style: none;
}

// email & phone
.header-contacts .link {
  color: inherit;

  font-weight: 700;
  font-size: 15px;
  line-height: 1.87x;
}

.header-contacts .link:hover,
.header-contacts .link:focus {
  opacity: 0.6;
}
