.section.offer {
  padding-top: 60px;
}

.list-title {
  margin-top: 0;
  margin-bottom: 10px;
}

.offer .list .text {
  margin: 0;
}

.offer .text--bold {
  font-weight: 700;
}

.offer .text--margin {
  display: block;
  margin-top: 10px;
}
